body{
    background-color: #FFFCDF;
}

/* Styling af Zealand boksen i toppen af siden*/
.box1 {
    font-size: 10vw;
    background-color: #fff386;
    padding: 20px 20px;text-align: center;
}



/* Styling af Quiz boksen med hvid baggrund og orange border*/
.box2 {
    width: 650px;  /* Boksens bredde */
    height: 120px; /* Boksens højde */
    background-color: #FFFEF9; /* Boksens farve */
    margin: 50px auto; /* Center the box */
    text-align: center; /* Teksten placeres midt i boksen */
    border:   4px solid #FFB68B;        /* Giver kanten grøn farve og px bestemmer kantens tykkelse  Fåt hjælp af denne side https://developer.mozilla.org/en-US/docs/Web/CSS/border */
    color: #000000; /* Skrift farven */
    border-radius: 30px;
    font-size: 73px; /* Skrift størrelse */
    margin-top: 170px; /* Placerer boksen længere nede, så der er mere luft til boksen over */
}

/* Styling af spørgsmålstegnbilledet*/
.spørgsmålstegnbillede{
    width: 700px;  /* Billedets bredde */
    height: 700px; /* Billedets højde */
    margin-left: 150px; /* Center the box */
}


/* Styling af teksten på første side (p-tagget)*/
.tekstførstequizside{
    font-size: 35px; /* Skrift størrelse */
    font-family: "Tiro Bangla"; /* Font type */
    text-align: center; /* Placerer teksten i midten af siden */
}


/* Styling af start flashcards knap*/
.box3 {
    width: 330px;  /* Boksens bredde */
    height:90px; /* Boksens højde */
    background-color: #FFFEF9; /* Boksens farve */
    margin: 50px auto; /* Center the box */
    text-align: center; /* Teksten placeres midt i boksen */
    border:   4px solid #FFB68B;        /* Giver kanten grøn farve og px bestemmer kantens tykkelse  Fåt hjælp af denne side https://developer.mozilla.org/en-US/docs/Web/CSS/border */
    color: #000000; /* Skrift farven */
    border-radius: 30px;
    font-size: 53px; /* Skrift størrelse */
    margin-top: 100px; /* Placerer boksen længere nede, så der er mere luft til teksten ovenover */

}

/* Styling af start quiz knap*/
.box12 {
    width: 330px;  /* Boksens bredde */
    height: 90px; /* Boksens højde */
    background-color: #FFFEF9; /* Boksens farve */
    margin: 50px auto; /* Center the box */
    text-align: center; /* Teksten placeres midt i boksen */
    border:   4px solid #FFB68B;        /* Giver kanten grøn farve og px bestemmer kantens tykkelse  Fåt hjælp af denne side https://developer.mozilla.org/en-US/docs/Web/CSS/border */
    color: #000000; /* Skrift farven */
    border-radius: 30px;
    font-size: 53px; /* Skrift størrelse */
    margin-top: 100px; /* Placerer boksen længere nede, så der er mere luft til teksten ovenover */
}


/* Styling af footer */
.container2 {
    display: flex; /*Flex er en layoutmodel, der gør det nemt at justere, arrangere og fordele plads blandt elementer inden i containeren.*/
    flex-wrap: wrap; /*hvis denne fjernes rykker knapperne sig*/
    background-color: #fff386;
    justify-content: space-between;
    margin-top: 10%;
}


.fot {
    height: 24vw;
    width: 24vw; /* Så der er plads til to knapper ved siden af hinanden */
    cursor: pointer;
    border-color: #fff386;
    background-color: #fff386;

}

.foto{
    height: 24vw;
    width: 26vw; /* Så der er plads til to knapper ved siden af hinanden */
}


.foto1{
    height: 24vw;
    width: 24vw; /* Så der er plads til to knapper ved siden af hinanden */
}